@model List<CG.Models.Cheese>

@{
    ViewData["Title"] = "Remove";
}

<h1>Remove Cheese</h1>

@if (Model.Count == 0)
{
    <p>No cheeses to remove yet!</p>
}

    <form method="post">

        @foreach (var cheese in @Model)
        {
            <input type="checkbox" name="cheeseIds" id="@cheese.CheeseId" value="@cheese.CheeseId" />
            <label for="@cheese.CheeseId">@cheese.Name</label>
            <br/>
        }

        <input type="submit" value="Remove Selected Cheese(s)" />
    </form>
