@model CG.ViewModels.AddUserViewModel

@{
    ViewData["Title"] = "Add";
}

<h2>Add User</h2>

<form asp-controller="User" asp-action="Add" method="post">
    <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" value="@Model.Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" name="email" value="@Model.Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" value="@Model.Password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label>Verify Password</label>
        <input type="password" name="verify" value="@Model.Verify"/>
        <span asp-validation-for="Verify"></span>
    </div>

    <input type="submit" value="Create Account" />
</form>

