@model CG.Models.User

@{
    ViewData["Title"] = "Details";
}

<h2>User Details</h2>
<br />
    
<div>
    User Name: <b>@Model.Username</b>
    <br />
    Email: @Model.Email
    <br />
    Date created: @Model.UserDateTime
</div>


