
@{
    ViewData["Title"] = "Add";
}

<h1>Add Cheese</h1>

<form method="post">
    <label>Cheese Name</label>
    <input name="name" type="text" />
    <label>Description</label>
    <input name="description" type="text" />
    <input type="submit" value="Add Cheese" />
</form>
