
@{
    ViewData["Title"] = "Index";
}

<h1>My Cheeses</h1>

<p><a asp-controller="Cheese" asp-action="Add">Click here to add a Cheese</a></p>
<p><a asp-controller="Cheese" asp-action="Remove">Click here to remove a Cheese</a></p>

@if (ViewBag.cheeses.Count == 0)
{
    <p>No cheeses yet!</p>
}

<ul>
    @foreach (KeyValuePair<string, string> cheese in ViewBag.cheeses)
    {
        <li><b>@cheese.Key:</b> @cheese.Value</li>
    }
</ul>

