
@{
    ViewData["Title"] = "Remove";
}

<h1>Remove Cheese</h1>

@if (ViewBag.cheeses.Count == 0)
{
    <p>No cheeses to remove yet!</p>
}

<form method="post">
    <input name="name" type="text" list="cheese"/>
    <datalist id="cheese">
        @foreach (KeyValuePair<string, string> cheese in ViewBag.cheeses)
        {
            <option value="@cheese.Key" />
        }
    </datalist>
    <button type="submit">Remove Cheese</button>
</form>
